<div class="requestsContainer">
    <h1>Requests</h1>

    <div class="typeSelector">
        <div class="typeButton"
                (mouseenter)="updateCoords($event)" 
                (mouseleave)="updateCoords($event)"
            >
                Extra Class
                <span [ngStyle]="{'top': spanStyle.top, 'left': spanStyle.left}"></span>
        </div>
        <div class="typeButton"
                (mouseenter)="updateCoords($event)" 
                (mouseleave)="updateCoords($event)"
            >
                Room Change
                <span [ngStyle]="{'top': spanStyle.top, 'left': spanStyle.left}"></span>
        </div>
        <div class="typeButton"
                (mouseenter)="updateCoords($event)" 
                (mouseleave)="updateCoords($event)"
            >
                Leave
                <span [ngStyle]="{'top': spanStyle.top, 'left': spanStyle.left}"></span>
        </div>
        <div class="typeButton"
                (mouseenter)="updateCoords($event)" 
                (mouseleave)="updateCoords($event)"
            >
                Event
                <span [ngStyle]="{'top': spanStyle.top, 'left': spanStyle.left}"></span>
                
        </div>
    </div>
    <div class="requestsList">
            
            <app-list></app-list>
    </div>
</div>