<div class="requestsContainer">
    <h1>Requests</h1>

    <div class="typeSelector">

        @for (type of requestTypes; track $index) {
            <div class="typeButton"
                (mouseenter)="updateCoords($event)" 
                (mouseleave)="updateCoords($event)"
            >
                {{type}}
                <span [ngStyle]="{'top': spanStyle.top, 'left': spanStyle.left}"></span>
            </div>
        }
    </div>
    <div class="requestsList">
            
            <app-list></app-list>
    </div>
</div>