<div class="sidebar">
  <!-- Top Section -->
  <div class="upper-items">
    <div class="sidebar-item">
      <i class="fas fa-user"></i>
    </div>

    <div class="divider"></div>

    <div class="sidebar-item text-item">
      <span>{{ today | date:'EEE' }}</span>
      <span>{{ today | date:'dd'}}/{{ today | date:'MM'}}</span>
    </div>

    <div class="divider"></div>
  </div>

  <div class="brand">Timely</div>

  <!-- Bottom Section -->
  <div class="lower-items">
    <div class="divider"></div>
    <div class="sidebar-item">
      <i class="fas fa-moon"></i>
    </div>

    <div class="divider"></div>

    <div class="sidebar-item">
      <i class="fas fa-sign-out-alt" (click)="logout()"></i>
    </div>
  </div>
</div>
