.sidebar {
  width: 70px;
  height: 100vh;
  background-color: #1b2b45;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
}

// .logo img {
//   width: 45px;
//   height: 45px;
//   border-radius: 50%;
//   cursor: pointer;
//   margin-bottom: 15px;
// }

.sidebar-item {
  width: 45px;
  height: 45px;
  background-color: #2e3c5a;
  border-radius: 10px;
  margin: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #3a4a6e;
  }

  &img {
    width: 24px;
    height: 24px;
  }
}

// .sidebar-item img.DP {
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
// }

.text-item {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  background-color: #2e3c5a;
  padding: 4px 2px;
  border-radius: 10px;
  line-height: 14px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #888;
  //   margin: 20px 0;
}

.brand {
  margin-bottom: 10px;
  font-weight: 900;
  color: #fff;
  // font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.25rem;
  font-size: 2rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.lower-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.upper-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
