.sidebar {
  width: 4.5rem;
  height: 100vh;
  background-color: #1b2b45;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem 0; 
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
}

// .logo img {
//   width: 2.8rem;     
//   height: 2.8rem;
//   border-radius: 50%;
//   cursor: pointer;
//   margin-bottom: 1rem;
// }

.sidebar-item {
  width: 2.8rem; 
  height: 2.8rem;
  background-color: #2e3c5a;
  border-radius: 0.6rem; 
  margin: 0.75rem 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #3a4a6e;
  }

  img {
    width: 1.5rem; 
    height: 1.5rem;
  }
}

// .sidebar-item img.DP {
//   width: 2.5rem;     
//   height: 2.5rem;
//   border-radius: 50%;
// }

.text-item {
  display: flex;
  flex-direction: column;
  font-size: 0.65rem; 
  background-color: #2e3c5a;
  padding: 0.25rem 0.15rem; 
  border-radius: 0.6rem; 
  line-height: 0.9rem;
}

.divider {
  width: 100%;
  height: 0.06rem;
  background-color: #888;
}

.brand {
  margin-bottom: 0.6rem; 
  font-weight: 100;
  color: #fff;
  letter-spacing: 0.25rem;
  font-size: 2rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.lower-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25rem;
}

.upper-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
