<div class="sidebar">
  <!-- Top Section -->
  <div class="upper-items">
    <div class="sidebar-item">
      <i class="fas fa-user"></i>
    </div>

    <div class="divider"></div>

    <div class="sidebar-item text-item">
      <span>Day</span>
      <span>Date</span>
    </div>

    <div class="divider"></div>
  </div>

  <div class="brand">Timely</div>

  <!-- Bottom Section -->
  <div class="lower-items">
    <div class="divider"></div>
    <div class="sidebar-item">
      <i class="fas fa-moon"></i>
    </div>

    <div class="divider"></div>

    <div class="sidebar-item">
      <i class="fas fa-sign-out-alt"></i>
    </div>
  </div>
</div>
