.timetable {
  background: #e1e1e1;
  padding: 0rem;
  height: 100%;
  width: 100%;

  .header {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.1rem;

    h2 {
      margin-top: 0rem;
      margin-bottom: 0.5rem;
      font-size: 2.4rem;
      color: #1b2b45;
      font-weight: 400;
    }

    .extra {
      background-color: #987749;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        // background-color: #dba765; // Darker shade on hover
        background-color: #dba765; // Darker shade on hover
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 4rem repeat(6, 1fr); // instead of 60px
  }

  .row {
    display: contents;
  }

  .header-row {
    font-weight: bold;
    text-align: center;
    color: #1b2b45;
  }

  .time-cell {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-right: 0.5rem;
    font-size: 1.2rem;
    color: #6c5e49;
  }

  .day-cell {
    padding: 0.4rem;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    color: #4a6382;
  }

  .cell {
    display: flex;
    justify-content: center;
    border-top: 0.15rem solid #cdbba2;
    font-weight: 400;
    min-height: 2.5rem;
    height: 4rem;
    margin-top: 1.5%;
  }

  .class-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    font-size: 0.8rem;
    padding: 0.25rem;
    border: 0.2rem solid #cdbba2;
    border-radius: 0.8rem;
    text-align: center;

    min-width: 8rem;
    min-height: 3rem;

    cursor: pointer;
    transition: 0.5s ease;
    margin: 1%;
    // margin-top: 1%;
    z-index: 1;
    position: relative;

    &.lecture {
      background: #dadfe9;
      border-color: #88a3d6;
    }

    &.lab {
      background: #daeae5;
      border-color: #77c6ad;
      // min-height: 7.3rem;
    }

    &.tutorial {
      background: #fbdbd4;
      border-color: #e09d8e;
    }
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 10px rgba(0, 0, 0.02);
      z-index: 10;
      .batches {
        opacity: 1;
        visibility: visible;
      }
    }
    &.teacher:hover {
      // transform: scale(4);

      transition: width 2s height 2s;
      z-index: 10;
      width: max; // slightly bigger than min
      height: 7rem;
      box-shadow: 0 0 10px rgba(0, 0, 0.02);

      .batches {
        opacity: 1;
        visibility: visible;
      }
    }
    &.cancelled {
      background: #f5c6c6;
      border-color: #e57373;
      color: #7a1c1c;
      text-decoration: line-through;
    }


    .batches {
      display: flex;
      justify-content: center;
      gap: 0.25rem;
      position: relative;
      &:hover {
        .all-batches {
          display: block;
          top: -100%;
          left: 203%;
        }
      }
    }
    .all-batches{
      display: none;
      position: absolute;
      width: 20rem;
      transform: translateX(-50%);
      background: #eaeaea;
      color: #777;
      padding: 0.5rem 0.75rem;
      border-radius: 0.25rem;
      font-size: 0.85rem;
      // white-space: nowrap;
      box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
      z-index: 1000;
    }
    .buttons {
      margin-top: 0.3rem;
      display: flex;

      justify-content: center;
      align-items: center;
      gap: 0;
      
      .cancel-btn {
        transform: scale(0.8);
        padding: 0.3rem 0.6rem;
        border-radius: 50px;
        border: 0.05rem solid #9a1c1c;

        // Color and Font
        border-color: #9a1c1c;
        color: black;

        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: #e04343;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          color: white;
          font-weight: 600;
          transform: translateY(-2px);
        }
      }
      .reschedule-btn {
          transform: scale(0.8);
          padding: 0.3rem 0.6rem;
          border-radius: 50px;
          border: 0.05rem solid #9a1c1c;

          // Color and Font
          border-color: #9a1c1c;
          color: black;

          cursor: pointer;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: #e04343;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            color: white;
            font-weight: 600;
            transform: translateY(-2px);
          }
        }
    }
  }
}
