.timetable {
  background: #e1e1e1;
  padding: 0rem;
  height: 100%;
  width: 100%;

  .header {
    margin-bottom: 0.1rem;

    h2 {
      margin-top: 0rem;
      margin-bottom: 0.5rem;
      font-size: 2.4rem;
      color: #1b2b45;
      font-weight: 400;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 4rem repeat(6, 1fr); // instead of 60px
  }

  .row {
    display: contents;
  }

  .header-row {
    font-weight: bold;
    text-align: center;
    color: #1b2b45;
  }

  .time-cell {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-right: 0.5rem;
    font-size: 1.2rem;
    color: #6c5e49;
  }

  .day-cell {
    padding: 0.4rem;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    color: #4a6382;
  }

  .cell {
    display: flex;
    justify-content: center;
    border-top: 0.15rem solid #cdbba2;
    font-weight: 400;
    min-height: 2.5rem;
    height: 4rem;
    margin-top: 1.5%;
  }

  .class-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    font-size: 0.8rem;
    padding: 0.25rem;
    border: 0.2rem solid #cdbba2;
    border-radius: 0.8rem;
    text-align: center;

    min-width: 8rem;
    min-height: 3rem;

    cursor: pointer;
    transition: 0.2s ease;
    margin: 1%;
    // margin-top: 1%;
    z-index: 1;
    position: relative;

    &.lecture {
      background: #dadfe9;
      border-color: #88a3d6;
    }

    &.lab {
      background: #daeae5;
      border-color: #77c6ad;
      // min-height: 7.3rem;
    }

    &.tutorial {
      background: #fbdbd4;
      border-color: #e09d8e;
    }
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 10px rgba(0, 0, 0.02);
      z-index: 10;
    }
  }
}
