.timetable {
  background: #e1e1e1;
  padding: 1rem;
  height: 100%;

  .header {
    margin-bottom: 1rem;
    h2 {
      font-size: 1.4rem;
      color: #1b2b45;
      font-weight: 600;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 60px repeat(7, 1fr);
    // border-collapse: collapse;
    // position: relative;
  }

  .row {
    display: contents;
  }

  .header-row {
    font-weight: bold;
    text-align: center;
    color: #1b2b45;
  }

  .time-cell {
    display: flex;
    justify-content: center;
    // margin-top: 2rem;
    text-align: top;
    padding-right: 8px;
    font-size: 0.8rem;
    color: #6c5e49;
  }

  .day-cell {
    padding: 6px;
    text-align: center;
  }

  .cell {
    border-top: 0.1rem solid #cdbba2;
    border-: 0.1rem solid #cdbba2;
    min-height: 40px;
    height: 4rem;
    // margin-top: 2rem;
  }

  /* Lunch Row Overlay */
  .lunch-row {
    grid-column: 2 / 8;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    position: absolute;
    top: 220px; /* adjust based on row heights */
    color: #cdbba2;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 2rem;
    pointer-events: none; /* so clicks go through */
  }
}
