/* You can add global styles to this file, and also import other style files */
head,
body {
  margin: 0;
  // font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-family: 'Tilt Neon', sans-serif;
  font-optical-sizing: auto;
  font-weight: none;
  font-style: normal;
  font-variation-settings: 'XROT' 0, 'YROT' 0;
}
